@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/********
* Reset * 
********/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', Arial, sans-serif;
  font-size: 16px;
  outline: none;
}

html, body {
  background: white;
  color: #474747;
}

a{
  text-decoration: none;
}
.wrap {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 280px;
  max-width: 1024px;
  margin: auto;
}


/*****************
* Menu principal *
*****************/


.nav-profile img {
border-radius: 50%;
width: 4rem;

}

.form-inline {
  display: inline-block;
}

.navbar {		
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid #d6d6d6;
  box-shadow: 0 0 4px rgba(0,0,0,.1);
  color: #474747;
  border: none;
  background: none;
}

/*Icon da Venus Shop*/
.navbar .navbar-brand {
  padding-left: 0;
  position: absolute;
  padding-right: 30px;
}
.navbar .navbar-brand img {
  margin-right: 50px;
  margin-left: 2rem;
  width: 70px;
  height: 40px;
}

/*Barra de pesquisa*/
#search-box{
  position:sticky;
  margin: 0px 98px -22px 0px;
  color:#474747;
  width: 25rem;
}
#search-box input {
  border-radius: 15px 0px 0px 15px !important;
}
#search-box button {
  border-radius: 0px 15px 15px 0px !important;
}

/*Bolinha de notificação da sacola*/
.navbar .badge {
  background: #f43665;
  font-size: 11px;
  border-radius: 20px;
  position: absolute;
  min-width: 10px;
  padding: 4px 6px 0px;
  min-height: 18px;
  top: 25px;
  right: 0px;
}
/* Icons de notificações+usuário */
.navbar ul li i {
  font-size: 24px;
  color: #474747;
  margin: 25px 0px 0px 0px;
}

#iuserm{
  padding-right: 10px;
}

/*Botão QueroVender*/
#btnvender{
  padding-top: 30px;
  padding-right: 30px;
}

/*links do menu*/
#conteudoNavbarSuportado ul{
  margin: 20px 10px 2px 13rem;
  padding-right: 30px;
  border: none;
  background: none;
  
}

#navlink a{
  color: #474747
}

/********* 
* Rodapé *
*********/

/* Superior */
.footersup{
  padding-top: 20px;
}

.footersup img{
  margin: -30px 0px 0px 0px;
}

.footersup i{
  font-size: 22px;
  padding: 0px 10px 15px 0px;
  color: #474747;
}

.footersup p a{
  text-decoration: none;
  color: #474747;
  font-size: 13px;
}

#titlef {
  font-size: 14px;
  font-weight: bold;
}

#titlevenda{
  margin: 20px 0px 15px 0px;
  font-size: 20px;
  font-weight: bold;
  color:#bb1919;
}

/*Botão quero vender */
.footersup p input{
  position: relative;
  background-color: #bb1919;
  border-radius: 8px;
  border: 0px;
  font-size: 1.5rem;
  color: white;
  padding: 10px;
  width: 47%;
  text-align: center;
  text-decoration: solid;
  overflow: hidden;
}
.footersup p input:hover{
  background-color: #a01616;
  color: white;
}

/* Inferior */
.footerinf{
  border-top: 1px solid #d6d6d6;
  padding-top: 15px;
}

#copy {
  font-size: 12px;
  letter-spacing: 1px;
}

/******************
* Responsividades *
******************/



/******************
* Policies *
******************/
.borda-policies, .borda-termos {
  margin: 40px 40px 40px;
  padding: 20px 20px 0px;
  border: 2px solid #f7b78d;
  padding-top: 25px;
  border-radius: 3px;
  background-color: rgb(248, 217, 197);
  box-shadow: 0px 4px 10px rgba(90, 44, 2, 0.05);
  margin-bottom: 40px;
}
.policies, .termos {
  text-align:left;
  margin-left: 20px;
}
.policies-title, .termos-title{
  text-align: center;
  
}
.cookies li {
  list-style-type: none;
}
/*********
* FAQ *
*********/
.accordion {
  margin: 20px 20px 20px;
  padding: 20px 20px 0px;
  border: 2px solid #f7b78d;
  padding-top: 25px;
  border-radius: 3px;
  background-color: rgb(248, 217, 197);
  box-shadow: 0px 4px 10px rgb(0 0 0 / 5%);
  margin-bottom: 40px;
}
.faqh2 {
  text-align: center;
  padding: 25px;
}
.nounderlinefaq {
  text-decoration: none !important;
}
/* tira a linha envolta do accordion */
.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: none;
}
.card-header {
  background-color: rgb(255, 255, 255);
}

/*********
* FOOTER *
*********/

/* Botão quero vender */
@media screen and (max-width: 320px){
  .footersup p input{
    position: relative;
    background-color: #bb1919;
    border-radius: 8px;
    border: 0px;
    font-size: 1.1rem;
    color: white;
    padding: 10px;
    width: 50%;
    text-align: center;
    text-decoration: solid;
    overflow: hidden;
  }
  .footersup p input:hover{
    background-color: #a01616;
    color: white;
  }
}



/*********
* COOKIES *
*********/

#acCookies {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.cookieBody {
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem;
}

.cookieBox {
  background-color: rgb(255, 224, 255);
  padding: .6rem;
  border-radius: .5rem;
  max-width: 988px;
  margin: auto;
}
.cookieImg {
  
  margin: auto;
  display: block;
}

.cookieBox button {
  display: block;
  margin: auto;
  margin-top: .5rem;
  background: linear-gradient(rgb(224, 15, 2), rgb(224, 43, 4));   
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(138, 138, 138, 1);
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: .3rem;
}

.cookieBox button:hover {
  background: linear-gradient(rgb(250, 159, 117), rgb(245, 98, 75));   
   
}

@media (min-width: 575px) {
  .cookieBox {
    display: flex;
    align-items: center;
  }

  .cookieBox button {
    margin: 0;
    margin-left: 1rem;
  }
}
/*********
FORMULÁRIO DO CART
Alert para frmcart quando está vazio *
*********/
div.alertCart {
    padding: 15px;
    margin: 0px 500px 0px 500px;
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgba(245, 183, 168, 0.973);
    box-shadow: 0px 4px 10px rgba(99, 2, 2, 0.05);
    width: 300px;
    height: 300px;
    text-align: justify;
}
.btnAlert {
  display: block;
  margin: 70px 70px;
  margin-top: 100px;
  background: linear-gradient(rgb(145, 58, 51), rgb(236, 122, 97));   
  color: white;
  border: none;
  box-shadow: 5px 5px 10px 0px rgba(138, 138, 138, 1);
  cursor: pointer;
  padding: .25rem .5rem;
  border-radius: 1.2rem;
  font-size: 15px;
}

.btnAlert:hover {
  background: linear-gradient(rgb(236, 122, 97), rgb(145, 58, 51));
}

/*tira o text-decoration dos botoes do bootstrap, coloca essa classe depois do a href*/
.nounderline {
  text-decoration: none !important
}
#ialert{
  font-size: 25px;
}
/*********
Carrinho
*********/
.tabcart {
  margin: 0px 30px 0px 30px; /*estrutura da tabela*/
}
.align {
  text-align: center; /*alinhamento das informações*/
}
.btnfinal { 
  display: inline-block;  /*botão finalizar*/
  margin: 60px 40px 70px;
  background: linear-gradient(rgb(1, 82, 16), rgb(41, 161, 47));   
  color: white;
  border: none;
  cursor: pointer;
  padding: .10rem .2rem;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
  height: 40px;
}
.btnfinal:hover {
  background: linear-gradient(rgb(41, 161, 47), rgb(1, 82, 16));
}
.btnesvaziar {   
  display: inline-block;  /*botão esvaziar carrinho*/
  margin: 60px 30px 70px;
  background: linear-gradient(rgb(189, 26, 26), rgb(221, 95, 91));   
  color: white;
  border: none;
  cursor: pointer;
  padding: .10rem .2rem;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
  height: 40px;
}
.btnesvaziar:hover {
  background: linear-gradient(rgb(221, 95, 91), rgb(189, 26, 26));
}
.btncontcompra {
  display: inline-block;  /*botão cntinuar comprando*/
  margin: 60px 30px 70px;
  background: linear-gradient(rgb(27, 120, 207), rgb(83, 174, 235));   
  color: white;
  border: none;
  cursor: pointer;
  padding: .10rem .2rem;
  border-radius: 10px;
  font-size: 20px;
  width: 250px;
  height: 40px;
}
.btncontcompra:hover{
  background: linear-gradient(rgb(83, 174, 235), rgb(27, 120, 207));
}

